/* здесь используйте глобальные селекторы img, body, html и так далее */
html {
  box-sizing: border-box;
  height: 100%;
}

body {
  min-height: 100%;
  max-width: $mobile-width;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Roboto-400", "Arial", sans-serif;
}

main {
  flex-grow: 1;
}
