/* здесь используйте глобальные переменные */

// width
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// margin
$mobile-margin: 16px;
$tablet-margin: 32px;
$desktop-margin: 64px;

// padding
$mobile-padding: 16px;
$tablet-padding: 32px;
$desktop-padding: 64px;
